# ==============================
# PostgreSQL Database
# ==============================
POSTGRES_DB=citrine
POSTGRES_USER=citrine
POSTGRES_PASSWORD=put_password_here

# ==============================
# RabbitMQ (MQTT/AMQP Broker)
# ==============================
RABBITMQ_DEFAULT_USER=put_user_here
RABBITMQ_DEFAULT_PASS=put_password_here

# ==============================
# MinIO (AWS S3 compatible file storage)
# ==============================
MINIO_ROOT_USER=put_user_here
MINIO_ROOT_PASSWORD=put_password_here

# ==============================
# Hasura GraphQL Engine
# ==============================
HASURA_GRAPHQL_ADMIN_SECRET=put_hasura_password_here

# ==============================
# Authentication
# ==============================
JWT_SECRET=put_jwt_secret_here_min_32_chars