# ==============================
# Base de données PostgreSQL
# ==============================
POSTGRES_DB=citrine
POSTGRES_USER=citrine
POSTGRES_PASSWORD=mettre_le_mot_de_passe_ici

# ==============================
# RabbitMQ (Broker MQTT/AMQP)
# ==============================
RABBITMQ_DEFAULT_USER=mettre_le_user_ici
RABBITMQ_DEFAULT_PASS=mettre_le_mot_de_passe_ici

# ==============================
# MinIO (Stockage de fichiers AWS S3 compatible)
# ==============================
MINIO_ROOT_USER=mettre_le_user_ici
MINIO_ROOT_PASSWORD=mettre_le_mot_de_passe_ici

# ==============================
# Hasura GraphQL Engine
# ==============================
HASURA_GRAPHQL_ADMIN_SECRET=mettre_le_mot_de_passe_hasura_ici