# ==========================================
# 1. Environment Variables & Secrets
# ==========================================
.env
.env.*
!.env.example
*.pem

# ==========================================
# 2. Local Data & Docker Storage
# ==========================================
data/
pg_data/

# ==========================================
# 3. Dependencies & Builds (JS/TS, Go, Python)
# ==========================================
node_modules/
build/
dist/
bin/
__pycache__/
*.py[cod]
venv/
env/
ocpp_env/
.turbo/

# ==========================================
# 4. Logs & Temporary Files
# ==========================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# 5. IDE & CLI Binary
# ==========================================
.vscode/
.DS_Store
Thumbs.db
citrineos-config/hasura/hasura
citrineos-config/hasura/hasura.exe